/**{
  background-color: red;
}*/

*{
  text-align: center;
  font-family: fantasy;
}


#hp {
  color: red;
  font-size: 25px;
  float: right;
}

#attack {
  color: steel;
  font-size: 25px;
  float: left;
}

#player1Hero > #hp {
  color:red;
  text-align:center;
}

#player2Hero > #hp {
  color: red;
  text-align:center;
}

#end-turn1, #end-turn2, #drawCard1, #drawCard2 {
    line-height: 90px;
}

/*#container {
  background-color: azure;
}*/

/*#player1Container {
  background-color: blue;
}*/

/*#player2Container {
  background-color: purple;
}*/

/*#player1Field {
  background-color: orange;
}*/

/*#player2Field {
  background-color: red;
}*/

/*#player1Hand {
  background-color: black;
}*/

/*#player2Hand {
  background-color: gray;
}*/

.player1CardSlots {
  border: 4px solid black;
  border-radius: 10px;

}
.player2CardSlots {
  border: 4px solid black;
  border-radius: 10px;

}

.player1Slots {
  background-color: white;
  border: 4px solid black;
  border-radius: 10px;
  margin-bottom: 5px;

}

.player2Slots {
  background-color: white;
  border: 4px solid black;
  border-radius: 10px;
  margin-top: 5px;

}

#player1Hero {
  background-color: gold;
  border: 4px solid black;
  border-radius: 10px;
}

#player1Deck {
  border: 4px solid black;
  border-radius: 10px;
  color: white;
}

#player2Hero {
  background-color: gold;
  border: 4px solid black;
  border-radius: 10px;

}

#player2Deck {
  border: 4px solid black;
  border-radius: 10px;
  color: white;
}

/* taken from http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video*/
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
